# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
.venv/

# PyCharm project settings
.idea/

# VSCode settings (if shared dev environment)
.vscode/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IPython history
.history

# Pyre type checker
.pyre/

# mypy type checker
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm specific workspace file (optional)
.idea/**/workspace.xml
.idea/**/tasks.xml

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
